@page 
@model Baligyaay.Views.Home.Admin

<div>
  <div class="d-flex justify-content-between mt-10">
    <h2>Products</h2>
    <div class="">
    <button
      class="btn btn-discovery"
      data-bs-toggle="modal"
      data-bs-target="#DataModal2"
    >
      Add Product
    </button>
    <a href="/Home/CategoryAdmin">
  <button type="button" class="btn btn-discovery position-relative" id="category_list">
  <i class="fa-solid fa-tags"></i>
</button>
</a>
    <a href="/Home/CustomerAdmin"
  <button type="button" class="btn btn-discovery position-relative" id="customer_list">
  <i class="fa-solid fa-users"></i>
</button>
</a>
  <button type="button" class="btn btn-discovery position-relative" id="logout">
  <i class="fa-solid fa-right-from-bracket"></i>
</button>
    </div>
  </div>
  <table
    id="CustomerTable"
    class="table table-borderless table-stipped table-hover"
    data-url=""
    data-side-pagination="client"
    data-toggle="table"
    data-pagination="true"
    data-show-toggle="true"
    data-show-columns="true"
  >
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Image</th>
        <th scope="col">Price</th>
        <th scope="col">Stock</th>
        <th scope="col">Category</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>

    </tbody>
  </table>

  <div id="DataModal2" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Product Details</h3>
          <button
            type="button"
            class="close"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true" data-bs-dismiss="modal">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <form id="product">
              <div class="row d-flex justify-content-center">
                <div class="col-md-5 mb-3">
                  <label for="product_name" class="col-form-label"
                    >Product Name</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    name="user"
                    id="product_name"
                    required
                  />
                </div>
                <div class="col-md-5 mb-3">
                  <label for="product_description" class="col-form-label"
                    >Product Description</label
                  >
                  <textarea
                    class="form-control"
                    id="product_description"
                    rows="3"
                    placeholder="Add a description here"
                  ></textarea>
                </div>
              </div>
              <div class="row d-flex justify-content-center">
                <div class="col-md-5 mb-3">
                  <label for="product_price" class="col-form-label"
                    >Product Price</label
                  >
                  <input
                    type="number"
                    class="form-control"
                    name="user"
                    id="product_price"
                    min="0"
        pattern="\d*"
                    required
                  />
                </div>
                <div class="col-md-5 mb-3">
                  <label for="product_stock" class="col-form-label"
                    >Product Stock</label
                  >
                  <input
                    type="number"
                    class="form-control"
                    name="user"
                    id="product_stock"
                    min="0"
        pattern="\d*"
                    required
                  />
                </div>
              </div>
              <div class="row d-flex justify-content-center">
                <div class="col-md-5 mb-3">
                  <label for="product_material" class="col-form-label"
                    >Product Material</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    name="user"
                    id="product_material"
                    required
                  />
                </div>
                <div class="col-md-5 mb-3">
                  <label for="product_length" class="col-form-label"
                    >Product Length (cm)</label
                  >
                  <input
                    type="number"
                    class="form-control"
                    name="user"
                    id="product_length"
                    min="0"
        pattern="\d*"
                    required
                  />
                </div>
              </div>
              <div class="row d-flex justify-content-center">
                <div class="col-md-5 mb-3">
                  <label for="product_width" class="col-form-label"
                    >Product Width (cm)</label
                  >
                  <input
                    type="number"
                    class="form-control"
                    name="user"
                    id="product_width"
                    min="0"
        pattern="\d*"
                    required
                  />
                </div>
                <div class="col-md-5 mb-3">
                  <label for="product_height" class="col-form-label"
                    >Product Height (cm)</label
                  >
                  <input
                    type="number"
                    class="form-control"
                    name="user"
                    id="product_height"
                    min="0"
        pattern="\d*"
                    required
                  />
                </div>
              </div>
              <div class="row d-flex justify-content-center">
                <div class="col-md-5 mb-3">
                  <label for="product_weight" class="col-form-label"
                    >Product Weight (kg)</label
                  >
                  <input
                    type="number"
                    class="form-control"
                    name="user"
                    id="product_weight"
                    min="0"
        pattern="\d*"
                    required
                  />
                </div>
                <div class="col-md-5 mb-3">
                  <label for="product_image" class="col-form-label"
                    >Upload Image</label
                  >
                  <input class="form-control" type="file" id="product_image" accept="image/*" />
                </div>
              </div>
              <div class="row d-flex justify-content-center">
                <div class="col-md-5 mb-3">
                  <label for="product_material" class="col-form-label"
                    >Select Category</label
                  >
                  <select class="form-select" id="categorySelect">
</select>

                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            type="button"
            class="btn btn-discovery w-25"
            data-bs-dismiss="modal"
          >
            Add Product
          </button>
        </div>
      </div>
    </div>
  </div>

  <div id="DataModal3" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Category</h3>
          <button
            type="button"
            class="close"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true" data-bs-dismiss="modal">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <form id="category">
              <div class="row d-flex justify-content-center">
                <div class="col-md-5 mb-3">
                  <label for="category_name" class="col-form-label"
                    >Category Name</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    name="user"
                    id="category_name"
                    required
                  />
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            type="button"
            class="btn btn-discovery w-25"
            data-bs-dismiss="modal"
          >
            Add Category
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/auth/admin.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
