@page
@model Baligyaay.Views.Home.Index


<div>
    @* <p>Your email is: @Model.Email</p> *@
    <h1>Database Connection Status</h1>
    <p>@ViewBag.ConnectionStatus</p>

    <button type="button" class="btn btn-discovery">Let's goooooo</button>
</div>


