@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Database Connection Status</h1>
    <p>@ViewBag.ConnectionStatus</p>

    <button type="button" class="btn btn-primary">Let's goooooo</button>
</div>
