@{ ViewData["Title"] = "Login"; }

<div class="d-flex justify-content-center align-items-center min-vh-100">
  <div class="container w-100 d-flex justify-content-center">
    <div
      class="row align-items-start bg-body px-10 p-5 shadow-md rounded-3 w-50"
    >
      <div class="col d-flex">
        <div class="col">
          <div><h3>Sign in</h3></div>
          <p class="text-color">
            Neque porro quisquam est qui dolorem ipsum quia dolor sit amet,
            consectetur, adipisci velit..
          </p>
          <div class="input-group mb-5">
            <span class="input-group-text" id="basic-addon1">&#64;</span>
            <input
              type="email"
              class="form-control"
              placeholder="Email Address"
              aria-label="Email Address"
              aria-describedby="basic-addon1"
            />
          </div>
          <div class="input-group mb-3">
            <input
              type="password"
              class="form-control"
              placeholder="Password"
              aria-label="Password"
              aria-describedby="basic-addon1"
            />
          </div>
          <button class="btn btn-discovery w-100 mt-5">Login now</button>
          <div class="d-flex w-full justify-content-center mt-3">
            Don't have an account?<span class="fw-medium text-discovery"
              >&nbsp;Create now!</span
            >
          </div>
        </div>
      </div>
      <!-- <div class="col">
        <img
          src="~/assets/motorpartsbanner.jpg"
          alt="Motor parts"
          class="img-fluid"
        />
      </div> -->
    </div>
  </div>
</div>
