@page
@model Baligyaay.Views.Home.Order

<p class="visually-hidden" id="email">@ViewBag.Email</p>
<div>
  <div class="d-flex mt-10 align-items-center">
    <a href="/Home/">
  <button type="button" class="btn btn-discovery position-relative mx-3">
  <i class="fa-solid fa-arrow-left"></i>
  </span>
  </span>
</button>
  </a>
    <h2>Orders</h2>
    <div class="w-100 d-flex justify-content-end">
  <button type="button" class="btn btn-discovery position-relative mx-3" id="deleteAll">
  <i class="fa-solid fa-trash"></i>
  </span>
  </span>
</button>
</div>
  </div>
  <table
    id="OrderTable"
    class="table table-borderless table-stipped table-hover"
    data-url=""
    data-side-pagination="client"
    data-toggle="table"
    data-pagination="true"
    data-show-toggle="true"
    data-show-columns="true"
  >
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Image</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Category</th>
        <th scope="col">Total Price</th>
        <th scope="col">Stock</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  <div class="container py-5">
  <div class="row" id="checkout-container">
    <div class="col-md-12 text-center">
      <p id="">Estimated Total</p>
      <div class="subtotal-container">
        <span id="totalOrderPrice" class="fs-1 fw-bold">P0.00</span>
      </div>
      <div class="subtotal-container">
        <span id="totalOrderCount" class="text-secondary">0 orders</span>
      </div>
      <div class="mt-5">
        <button class="btn btn-discovery w-50" id="checkout">Checkout</button>
      </div>
    </div>
  </div>
</div>

</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/home/order.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
