@page
@model Baligyaay.Views.Home.Test

<div>
  <div class="form-group">
    <label for="formGroupExampleInput">Name</label>
    <input type="text" class="form-control" id="name" placeholder="Example input">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Image</label>
    <input type="text" class="form-control" id="image" placeholder="Another input">
  </div>
  <button class="btn btn-primary" id="btnsubmit">Create</button>
<p id="data"></p>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/test.js"></script>